<!doctype html>
<html>

<head>
	<meta charset="UTF-8">

	<script src="../dist/js/jquery.min.js"></script>
	<script src="https://unpkg.com/vue@next"></script>
</head>

<body>

	<h1 class="test" data-test="true">TP2 JS</h1>

	<section id="news">
		<article-news 
			v-for="article in articles" 
			v-bind:article="article" 
			v-bind:key="article.id">
		</articles-news>
	</section>

	<form id="addNewsForm">
		Nom de la news : <input name="titleToAdd" type="text" />

		<input type="submit" name="addNewsBtn" />
	</form>
</body>

<script src="../dist/js/script.js"></script>

</html>